.centrado
  %h1 Ubicaciones Librerias

%table.span-18.clear
  %tr
    %th Castellón
    %th Castellón
    %th Valencia
    %th Valencia
    %th Alicante

  %tr
    %td Avd. Casalduch 39
    %td Avd. Alcora 12
    %td C/ Cervantes 43
    %td Avd. Mestalla 5
    %td Plaza Mayor 23


