%h1 Próximos Libros

%table
  %tr
    %th Título
    -#%th Autor
    -#%th Editorial
    -#%th Categoria
    -#%th Año
    -#%th Paginas
    -#%th Precio
    -#%th Descripcion
    -#%th
    -#%th
    -#%th

  - @proximo_libros.each do |proximo_libros|
    %tr
      %td= link_to proximo_libros.titulo, proximo_libros
      %td= link_to image_tag(proximo_libros.photo.url(:thumb)), proximo_libros
      -#%td= libro.autor
      -#%td= libro.editorial
      -#%td= libro.categoria
      -#%td= libro.anyo
      -#%td= libro.paginas
      -#%td= libro.precio
      -#%td= libro.descripcion
      -#%td= link_to 'Show', libro
      -#%td= link_to 'Edit', edit_libro_path(libro)
      -#%td= link_to 'Destroy', libro, :confirm => 'Are you sure?', :method => :delete
  -#- if current_cuenta && current_cuenta.administrador?
    -#= link_to 'New Proximo libros', new_proximo_libros_path
