%h1 Libros Disponibles

%table
  %tr
    %th Título
    %th Comprar
    -#%th Autor
    -#%th Editorial
    -#%th Categoria
    -#%th Año
    -#%th Paginas
    -#%th Precio
    -#%th Descripcion
    -#%th
    -#%th
    -#%th

  - @libros.each do |libro|
    %tr
      %td= link_to libro.titulo,libro
      %td= link_to image_tag(libro.photo.url(:thumb)), libro
      -#%td= libro.autor
      -#%td= libro.editorial
      -#%td= libro.categoria
      -#%td= libro.anyo
      -#%td= libro.paginas
      -#%td= libro.precio
      -#%td= libro.descripcion
      -#%td= link_to 'Show', libro
      -#%td= link_to 'Edit', edit_libro_path(libro)
      -#%td= link_to 'Destroy', libro, :confirm => 'Are you sure?', :method => :delete
  - if current_cuenta && current_cuenta.administrador?
    = link_to 'Añadir Libro', new_libro_path
