.centrado
  %h1 Información Librería Fadrell

%table.span-18.clear
  %tr
    %th Nombre
    %th Teléfono
    %th Fax
    %th Dirección
    %th E-Mail
    %th Horario
    %th Contacto

  %tr
    %td Librería Fadrell
    %td 964-342-190
    %td 960-240-386
    %td Avda. Casalduch 39, Castellón
    %td= mail_to "jpandreu@fadrell.com"
    %td 8:30-13:30//15:00-18:30
    %td Jairo Prats Andreu

