%h1 Información de Cuenta

%table.span-6.clear
  %tr
    %th Email
    %th
    %th
    %th

  - @cuentas.each do |cuenta|
    %tr
      %td= mail_to cuenta.email
      %td= link_to image_tag("show.png"), cuenta
      %td= link_to image_tag("edit.png"), edit_cuenta_path(cuenta)
      %td=link_to image_tag("destroy.jpg"),cuenta, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Cuenta', new_cuenta_path
