%ul#menuvertical.span-6.clear
  %li= link_to "Sobre la Librería", new_libro_path
  %li= link_to "Pedir Libro", new_contacto_path
  %li= link_to "Librería mas cercana", libros_path
  %li= link_to "Categorias", categorias_path
