%ul.menuinicio
  %li= link_to "Libros", libros_path
  - if signed_in?
    %li= link_to "Cuenta", edit_cuenta_path(current_cuenta)
  -#- if administrador?
  %li= link_to "Contacto", new_contacto_path
.clear
